@model AttendanceViewModel;
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Attendance Entry</title>
</head>
<form action="/attendance/Edit" method="post">
    <input type="text" value="@Model.Id" name="Id" hidden />
    <div class="mb-3">
        <label class="form-label">AttendanceDate</label>
        <input type="text" class="form-control" value="@Model.AttendanceDate" name="AttendanceDate" required>
    </div>
    <div class="mb-3">
        <label class="form-label">InTime</label>
        <input type="text" class="form-control" value="@Model.Intime" name="InTime">
    </div>
    <div class="mb-3">
        <label class="form-label">OutTime</label>
        <input type="text" class="form-control" name="OutTime" value="@Model.OutTime">
    </div>
    <div class="mb-3">
        <label class="form-label">IsLeave</label>
        <input type="checkbox" class="form-control" name="IsLeave" value="@Model.IsLeave">
    </div>
    <div class="mb-3">
        <label class="form-label">IsLate</label>
        <input type="checkbox" class="form-control" name="IsLate" value="@Model.IsLate">
    </div>
    <div class="mb-3">
        <label class="form-label">Student</label>
        <select name="StudentId" class="form-control">
            @foreach (var item in ViewBag.StudentList)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Entry" />
            </div>
            <div class="col">
                <input type="reset" class="btn btn-secondary" value="Cancel" />
            </div>
        </div>
    </div>
</form>


