@model CourseViewModel;
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Course Entry</title>
</head>
<form action="/course/Edit" method="post">
    <input type="text" value="@Model.Id" name="Id" hidden />
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="Name" value="@Model.Name" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" name="Description" value="@Model.Description">
    </div>
    <div class="mb-3">
        <label class="form-label">Opening Date</label>
        <input type="date" class="form-control" name="OpeningDate" value="@Model.OpeningDate.ToString("yyyy-MM-dd")" required>
    </div>
    <div class="mb-3">
        <label class="form-label">During in Hour</label>
        <input type="number" class="form-control" name="DuringinHour" value="@Model.DurationInHour" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Fees</label>
        <input type="number" class="form-control" name="Fees" value="@Model.Fees"required>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Entry" />
            </div>
            <div class="col">
                <input type="reset" class="btn btn-secondary" value="Cancel" />
            </div>
        </div>
    </div>
</form>